.portfolio__title {
  text-align: center;
  font-family: "Museo Sans Cyrl 700";
  margin: auto;
  margin-bottom: 100px;
  padding-top: 100px;
}

.portfolio {
  background-color: #f5f5f5;
  background: url("../../img/portfolio.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
}

.arrows__left,
.arrows__right:hover {
  cursor: pointer;
}

.slider__image {
  margin: auto;
}