.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer {
  background: url("../../img/kuhna.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffff;
}

.offer__title {
  max-width: 360px;
  margin-bottom: 24px;
  font-family: "Museo Sans Cyrl 700";
}

.offer__subtitle {
  margin-bottom: 30px;
  max-width: 250px;
  font-family: "Museo Sans Cyrl 300";
}

.offer__input {

  margin-bottom: 30px;
  width: 230px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;

}

.section-title {
  font-size: 24px;
  line-height: 35px;
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 20px 26px;
  text-align: 15px;
}

@media(max-width:1200px) {
  .offer {
    background-size: cover;
  }

  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }

  .offer__button {
    font-size: 13px;
  }
}

@media(max-width:768px) {
  .offer {
    background: #fff;

  }

  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}